<p-dialog header="Menu view" (onHide)="hide()" [(visible)]="affecterRoleDialog" [style]="{width: '80vw',height:'auto'}"
    [contentStyle]="{minHeight:'25vh'}" [baseZIndex]="10000">
    <p-table #dt [value]="menusToBeAffected" [rows]="4" [paginator]="true" [globalFilterFields]="['name']"
        [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
        class="p-col">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                <h5 class="p-m-0">Entities</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="center" style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Libelle
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th style="padding-left: 4%;">Icon</th>
                <th style="padding-left: 4%;">Ajouter</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-menu>
            <tr>
                <td>
                    <p-tableCheckbox [value]="menu"></p-tableCheckbox>
                </td>
                <td>
                    <span>{{menu.libelle}}</span>
                </td>
                <td>
                    <i class="{{menu.icone}}"></i>
                </td>
                <td>
                    <!-- <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2" (click)="edit(pojo)"></button> -->
                    <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-info p-mr-2"
                        (click)="affecter(menu)"></button>


                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{items ? items.length : 0 }} items.
            </div>
        </ng-template>
    </p-table>
    <p-table #dt [value]="affectedMenus" [rows]="4" [paginator]="true" [globalFilterFields]="['name']" [rowHover]="true"
        dataKey="id" styleClass="p-datatable-customers"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
        class="p-col">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                <h5 class="p-m-0">Entities</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th class="center" style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Libelle
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th style="padding-left: 4%;">Icon</th>
                <th style="padding-left: 4%;">Ajouter</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-menu>
            <tr>
                <td>
                    <p-tableCheckbox [value]="menu"></p-tableCheckbox>
                </td>
                <td>
                    <span>{{menu.libelle}}</span>
                </td>
                <td>
                    <i class="{{menu.icone}}"></i>
                </td>
                <td>
                    <!-- <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2" (click)="edit(pojo)"></button> -->
                    <button pButton pRipple icon="pi pi-minus" class="p-button-rounded p-button-danger p-mr-2"
                        (click)="delete(menu)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{items ? items.length : 0 }} items.
            </div>
        </ng-template>
    </p-table>


</p-dialog>