<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Add Menu" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                            (click)="addMenu()"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2"
                    ></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Next" icon="pi pi-arrow-right" class="p-button-info p-mb-2"
                    ></button>
                </ng-template>
            </p-toolbar>
            <div class="p-grid">


                <p-table #dt [value]="roles" [rows]="4" [paginator]="true" [globalFilterFields]="['name']"
                         [(selection)]="selectes" [rowHover]="true" dataKey="id"
                         styleClass="p-datatable-customers"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [showCurrentPageReport]="true" class="p-col">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <h5 class="p-m-0">Roles</h5>
                            <span class="p-input-icon-left">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" placeholder="Search..."/>
                                    </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="center" style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="name">Role
                                <p-sortIcon field="name"></p-sortIcon>
                            </th>

                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-role>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="role"></p-tableCheckbox>
                            </td>

                            <td>{{role.name}}</td>


                            <td>
                                <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                        (click)="affecter(role)"></button>


                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total there are {{roles ? roles.length : 0 }} items.
                        </div>
                    </ng-template>
                </p-table>

                <p-table #dt [rows]="4" [paginator]="true" [globalFilterFields]="['name']"
                         [value]="menus" [rowHover]="true" dataKey="name"
                         styleClass="p-datatable-customers"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                         [showCurrentPageReport]="true" class="p-col">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <h5 class="p-m-0">Menus</h5>
                            <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" placeholder="Search..."/>
                    </span>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <!--   <th class="center" style="width: 3rem">
                                   <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                               </th>-->
                            <th pSortableColumn="icone" class="p-column-title">Icone
                                <p-sortIcon field="icone"></p-sortIcon>
                            </th>
                            <th pSortableColumn="libelle" class="p-column-title">Libelle
                                <p-sortIcon field="libelle"></p-sortIcon>
                            </th>
                            <th pSortableColumn="pojo" class="p-column-title">Pojo
                                <p-sortIcon field="pojo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="actions" class="p-column-title">Actions
                                <p-sortIcon field="actions"></p-sortIcon>
                            </th>

                            <!--<th></th>-->
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-menu>
                        <tr>
                            <!--   <td>
                                   <p-tableCheckbox [value]="commande"></p-tableCheckbox>
                               </td>-->

                            <td><i class="pi {{menu.icone}}"></i>
                            </td>
                            <td>{{menu.libelle}}</td>
                            <td>{{menu.pojo.name}}</td>


                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success p-mr-2"
                                        (click)="edit(commande)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="delete(commande)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>


            </div>
        </div>
        <p-dialog [(visible)]="addMenuDialog" [style]="{width: '450px'}" header="Commande Details" [modal]="true"
                  styleClass="p-fluid">
            <ng-template pTemplate="content">

                <div class="p-field">
                    <label for="libelle">Libelle</label>
                    <input type="text" pInputText id="libelle"  required autofocus/>
                </div>
                <div class="p-field">
                    <label for="icon">Icon</label>
                    <input type="text" pInputText  id="icon" required autofocus/>
                </div>
                <div class="p-formgrid p-grid">
                    <div class="p-field p-col">
                        <label for="totalPaye">Total Paye</label>
                        <p-inputNumber id="totalPaye"></p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>


