<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Add Menu" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                        (click)="addMenu()"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger p-mb-2"></button>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Next" icon="pi pi-arrow-right" class="p-button-info p-mb-2"></button>
                </ng-template>
            </p-toolbar>
            <div class="p-grid">
                <p-table #dt [value]="roles" [rows]="4" [paginator]="true" [globalFilterFields]="['name']"
                    [(selection)]="selectes" [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true" class="p-col">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <h5 class="p-m-0">Roles</h5>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" placeholder="Search..." />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="center" style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="name">Role
                                <p-sortIcon field="name"></p-sortIcon>
                            </th>

                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-role>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="role"></p-tableCheckbox>
                            </td>

                            <td>{{role.name}}</td>


                            <td>
                                <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="openAffecterDialog(role)"></button>


                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            In total there are {{roles ? roles.length : 0 }} items.
                        </div>
                    </ng-template>
                </p-table>

                <p-table #dt [rows]="5" [paginator]="true" [globalFilterFields]="['name']" [value]="menus"
                    [rowHover]="true" dataKey="name" styleClass="p-datatable-customers"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true" class="p-col">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                            <h5 class="p-m-0">Menus</h5>
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" placeholder="Search..." />
                            </span>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="icone" class="p-column-title">Icone
                                <p-sortIcon field="icone"></p-sortIcon>
                            </th>
                            <th pSortableColumn="libelle" class="p-column-title">Libelle
                                <p-sortIcon field="libelle"></p-sortIcon>
                            </th>
                            <th pSortableColumn="pojo" class="p-column-title">Pojo
                                <p-sortIcon field="pojo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="actions" class="p-column-title">Actions
                                <p-sortIcon field="actions"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-menu>
                        <tr>
                            <td><i class="{{menu.icone}}"></i>
                            </td>
                            <td>{{menu.libelle}}</td>
                            <td>{{menu.pojo != undefined ? menu.pojo.name : 'Pojo non défini'}}</td>
                            <td>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-info p-mr-4"
                                    (click)="openViewDialog(menu)"></button>
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2" (click)="edit(menu)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                    (click)="delete(menu)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>


            </div>
        </div>


        <p-dialog header="Ajouter un Menu" (onHide)="hide()" [(visible)]="addMenuDialog"
            [style]="{width: '80vw',height:'auto'}" [contentStyle]="{minHeight:'25vh'}" [baseZIndex]="10000">
            <div class="p-field p-grid" [formGroup]="menuForm">
                <label for="menuLibelle" class="p-col-fixed">Libelle</label>
                <div class="p-col">
                    <input id="menuLibelle" type="text" pInputText formControlName="libelle">
                </div>

                <label for="menuIcon" class="p-col-fixed">Icon</label>
                <div class="p-col">
                    <input id="menuIcon" type="text" pInputText formControlName="icone">
                    <span><a href="https://www.primefaces.org/diamond/icons.xhtml" target="_blank">Check
                            icons</a></span>
                </div>
            </div>
            <span class="p-float-label" style="margin-bottom: 3vh;">Ajouter un sou menu (Optionnel)</span>
            <p-splitter [panelSizes]="[25,65]">
                <ng-template pTemplate class="p-col-12">
                    <div class="p-fluid" [formGroup]="sousMenuForm" style="padding: 20px; margin: 10px;">
                        <div class="p-fluid" style="margin-bottom: 6vh;">
                            <div class="p-field">
                                <span class="p-float-label">
                                    <input type="text" id="inputtext" pInputText formControlName="libelleS">
                                    <label for="inputtext">Libelle</label>
                                </span>
                            </div>
                        </div>
                        <div class="p-fluid" style="margin-bottom: 6vh;">
                            <div class="p-field">
                                <span class="p-float-label">
                                    <input type="text" id="inputtext" pInputText formControlName="iconeS">
                                    <label for="inputtext">Icon</label>
                                </span>
                            </div>
                        </div>


                    </div>
                </ng-template>

                <ng-template pTemplate>
                    <p-table #dt [rows]="4" [paginator]="true" [globalFilterFields]="['name']" [value]="menusArray"
                        [rowHover]="true" dataKey="name" styleClass="p-datatable-customers"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true" class="p-col">

                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="libelle">Libelle
                                    <p-sortIcon field="libelle"></p-sortIcon>
                                </th>
                                <th pSortableColumn="icon">Icon
                                    <p-sortIcon field="icon"></p-sortIcon>
                                </th>
                                <th
                                    style="display: flex;justify-content: space-between;align-items: center;padding-left: 6%;">
                                    Action

                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-menu>
                            <tr>
                                <td>{{menu.libelle}}</td>
                                <td>
                                    <i class="{{menu.icone}}"></i>
                                </td>

                                <td>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="deleteSousMenu(menu)"></button>
                                </td>
                            </tr>
                        </ng-template>

                    </p-table>
                </ng-template>
            </p-splitter>

            <button pButton type="button" class="p-mr-4" [disabled]="!sousMenuForm.valid" style="margin-top: 3vh;"
                label="ADD Sous menu" (click)="addSousMenu()"></button>
            <button pButton type="submit" label="Save" [disabled]="!menuForm.valid"
                style="margin-top: 3vh;float: right;" (click)="onSubmit()"></button>

        </p-dialog>
        <!-- <p-dialog [(visible)]="addMenuDialog"  [style]="{width: '65vw',height:'auto'}"
        [contentStyle]="{minHeight:'30vh'}" [baseZIndex]="10000" header="Menu Add" [modal]="true"
            styleClass="p-fluid">
            <p-splitter [style]="{'height': '300px'}" [panelSizes]="[50,50]" layout="horizontal">
                <ng-template pTemplate="p-col-12" >
                    <div class="p-fluid" [formGroup]="menuForm" style="padding: 20px; margin: 10px;">
                        <div class="p-field">
                            <label for="libelle">Libelle</label>
                            <input type="text" pInputText id="libelle" formControlName="libelle" autofocus />
                        </div>
                        <div class="p-field">
                            <label for="icon">Icon</label>
                            <input type="text" pInputText id="icon" formControlName="icon" required autofocus />
                            <span><a href="https://www.primefaces.org/diamond/icons.xhtml" target="_blank">Icons</a></span>
                        </div>
                        <div style="display: flex;justify-content: space-between;">
                            <button type="p-button-rounded p-button-info p-mr-2" (click)="addItem()">Add Sous menu</button> 
                            <button pButton label="Add Sous menu" (click)="addItem()"></button>
                            <button type="p-button-rounded p-button-info p-mr-2" type="submit" [disabled]="menuForm.invalid"
                                (click)="onSubmit()">Save</button>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="p-col-12">
                    <div formArrayName="sousMenu" class="p-fluid" style="padding: 20px; margin: 10px;"
                    *ngFor="let item of menuForm.get('sousMenu')['controls']; let i = index;">
                 
                    <div [formGroupName]="i" class="p-fluid" style="margin-bottom: 6vh;">
                        <div class="p-field">
                            <label for="libelle">Libelle</label>
                            <input type="text" pInputText id="libelle" formControlName="libelle" autofocus />
                        </div>
                        <div class="p-field">
                            <label for="icon">Icon</label>
                            <input type="text" pInputText id="icon" formControlName="icon" required autofocus />
                    </div>
                    </div>
                    </div>
                
                </ng-template>
            </p-splitter>
           
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
            </ng-template>
        </p-dialog> -->
        <p-dialog [(visible)]="editMenuDialog" [style]="{width: '80vw',height:'auto'}" (onHide)="hideEdit()"
            [contentStyle]="{minHeight:'25vh'}" header="Menu Edit" [modal]="true" styleClass="p-fluid">
            <div class="p-field p-grid" [formGroup]="menuFormEdit">
                <label for="menuLibelle" class="p-col-fixed">Libelle</label>
                <div class="p-col">
                    <input id="menuLibelle" type="text" pInputText formControlName="libelle">
                </div>

                <label for="menuIcon" class="p-col-fixed">Icon</label>
                <div class="p-col">
                    <input id="menuIcon" type="text" pInputText formControlName="icone">
                    <span><a href="https://www.primefaces.org/diamond/icons.xhtml" target="_blank">Check
                            icons</a></span>
                </div>
                <div class="p-col" *ngIf="editingMenuWithPojo">
                    <label class="p-col-fixed">Pojo Name</label>
                    <input type="text" pInputText [value]="menuToBeEdited.pojo.name" readonly>
                </div>
            </div>
            <span *ngIf="!editingMenuWithPojo" class="p-float-label" style="margin-bottom: 3vh;">Ajouter un sou menu
                (Optionnel)</span>
            <p-splitter [panelSizes]="[25,65]" *ngIf="!editingMenuWithPojo">
                <ng-template pTemplate class="p-col-12">
                    <div class="p-fluid" [formGroup]="sousMenuFormEdit" style="padding: 20px; margin: 10px;">
                        <div class="p-fluid" style="margin-bottom: 6vh;">
                            <div class="p-field">
                                <span class="p-float-label">
                                    <input type="text" id="inputtext" pInputText formControlName="libelle">
                                    <label for="inputtext">Libelle</label>
                                </span>
                            </div>
                        </div>
                        <div class="p-fluid" style="margin-bottom: 6vh;">
                            <div class="p-field">
                                <span class="p-float-label">
                                    <input type="text" id="inputtext" pInputText formControlName="icone">
                                    <label for="inputtext">Icon</label>
                                </span>
                            </div>
                        </div>


                    </div>
                </ng-template>

                <ng-template pTemplate>
                    <p-table #dt [rows]="4" [paginator]="true" [globalFilterFields]="['name']"
                        [value]="sousMenuToBeEdited" [rowHover]="true" dataKey="name" styleClass="p-datatable-customers"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        [showCurrentPageReport]="true" class="p-col">

                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="libelle">Libelle
                                    <p-sortIcon field="libelle"></p-sortIcon>
                                </th>
                                <th pSortableColumn="icon">Icon
                                    <p-sortIcon field="icon"></p-sortIcon>
                                </th>
                                <th
                                    style="display: flex;justify-content: space-between;align-items: center;padding-left: 6%;">
                                    Action

                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-menu>
                            <tr>
                                <td>{{menu.libelle}}</td>
                                <td>
                                    <i class="{{menu.icone}}"></i>
                                </td>

                                <td>

                                    <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success p-mr-4"
                                        (click)="editSubMenu(menu)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                                        (click)="deleteSousMenuToBeEdited(menu)"></button>
                                </td>
                            </tr>
                        </ng-template>

                    </p-table>
                </ng-template>
            </p-splitter>
            <div style="display: flex;justify-content: space-between;">
                <div>
                    <button pButton type="button" class="p-mr-4" *ngIf="!editingMenuWithPojo" label="edit sous menu"
                        (click)="editSousMenuForm()" [disabled]="!sousMenuEditing"></button>
                    <button pButton type="button" class="p-mr-4" *ngIf="!editingMenuWithPojo" label="ADD Sous menu"
                        (click)="addSousMenuEdit()" [disabled]="sousMenuEditing"></button>
                </div>
                <button pButton type="submit" label="Edit" (click)="editMenu()"></button>
            </div>
        </p-dialog>
    </div>
</div>
<app-role-menu-view></app-role-menu-view>
<app-role-affectation></app-role-affectation>